<nav class="bg-white px-6 py-2 h-[5vh] flex gap-2 justify-end">
    <a href="{{ path('thread_list') }}">{{ "navigation.items.threads" | trans(domain="layout") }}</a>
    {% if isLoggedIn %}
        <a href="{{ path('_logout_main') }}">{{ "navigation.items.logout" | trans(domain="layout") }}</a>
    {% else %}
        <a href="{{ path('app_login') }}">{{ "navigation.items.login" | trans(domain="layout") }}</a>
    {% endif %}
</nav>
