{% extends 'base.html.twig' %}

{% block body %}
    <section class="flex flex-col gap-8">
        <header>
            <h1 class="text-3xl">{{ "title" | trans(domain="login") }}</h1>
        </header>

        <form action="{{ path('app_login') }}" method="post">
            {% if error %}
                <div class="alert danger">
                    {{ error.messageKey | trans(domain="security") }}
                </div>
            {% endif %}

            <div class="mb-4">
                <label for="username">{{ "form.inputs.labels.email" | trans(domain="login") }}</label>
                <input type="text" id="username" name="_username" />
            </div>

            <div class="mb-4">
                <label for="password">{{ "form.inputs.labels.password" | trans(domain="login") }}</label>
                <input type="password" id="password" name="_password" />
            </div>

            <input type="hidden" name="_target_path" value="/threads">
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            <div class="flex justify-end">
                <button class="btn primary" type="submit">
                    {{ "form.buttons.login" | trans(domain="login") }}
                </button>
            </div>
        </form>
    </section>
{% endblock %}