{% extends "base.html.twig" %}

{% block body %}
    <section>
        <header class="my-8">
            <a href="{{ path('thread_list') }}" class="text-blue-800">Retour à la liste</a>
            <h1 class="text-3xl">Visualisation du thread</h1>
        </header>

        <article>
            <div class="my-4">
                <h2 class="text-base font-bold">{{ thread.title }}</h2>
                <div class="text-xs text-neutral-600">
                    <span>par {{ thread.user.fullName }}</span> |  <span>le {{ thread.createdAt }}</span>
                </div>
            </div>
            <div>
                <p>{{ thread.content }}</p>
            </div>
        </article>

        <hr class="border-black my-4" />

        <div>
            {% for post in thread.posts %}
                <article>
                    <div class="text-xs text-neutral-600">
                        <span>par {{ post.user.fullName }}</span> |  <span>le {{ post.createdAt }}</span>
                    </div>
                    <div>
                        <p>{{ post.content }}</p>
                    </div>
                </article>

                <hr class="my-4" />
            {% else %}
                <h2 class="text-base">Aucun post à afficher</h2>
            {% endfor %}
        </div>
    </section>
{% endblock %}
