
<main>
    <article>
        <h1>{{ thread.title }}</h1>
        <header>
            <time datetime="{{ thread.createdAt }}">{{ thread.createdAt }}</time>
            <p>par <address>{{thread.user.fullName}}</address></p>
        </header>
        <p>{{ thread.content }}</p>
    </article>

    <section>
        <h2>Réponses</h2>
        {% for post in thread.posts %}
            <article>
                <header>
                    <time datetime="{{ post.createdAt }}">{{ post.createdAt }}</time>
                    <p>par <address>{{ post.user.fullName }}</address></p>
                </header>
                <p>{{ post.content }}</p>
            </article>
        {% endfor %}
    </section>
</main>

