{% extends "base.html.twig" %}

{% block body %}
    <section>
        <header>
            <h1 class="text-3xl">{{ "title" | trans(domain="thread") }}</h1>
        </header>

        <article>
            <div class="my-4">
                <h2 class="text-base font-bold">{{ thread.title }}</h2>
                <div class="text-xs text-neutral-600">
                    <span>{{ "terms.by" | trans({ by: thread.user.fullName }, "thread") }}</span> |
                    <span>{{ "terms.on" | trans({ on: thread.createdAt }, "thread") }}</span>
                </div>
            </div>
            <div>
                <p>{{ thread.content }}</p>
            </div>
        </article>

        <hr class="border-black my-4" />

        <div>
            {% for post in thread.posts %}
                <article>
                    <div class="text-xs text-neutral-600">
                        <span>{{ "terms.by" | trans({ by: post.user.fullName }, "thread") }}</span> |
                        <span>{{ "terms.on" | trans({ on: post.createdAt }, "thread") }}</span>
                    </div>
                    <div>
                        <p>{{ post.content }}</p>
                    </div>
                </article>

                <hr class="my-4" />
            {% else %}
                <h2 class="text-base">{{ "sentences.no_post" | trans(domain="thread") }}</h2>
            {% endfor %}
        </div>
    </section>
{% endblock %}
